@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.backGroundIndex {
  background-color: #FFECA5; }

.backGroundHeader {
  background-color: #a87523; }

.backGroundForm {
  background-color: #FFD99C; }

* {
  box-sizing: border-box; }

section {
  padding: 5rem 0;
  width: 100%;
  text-align: center;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center; }

h1 {
  font-family: 'Lobster', cursive; }

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out; }

ul {
  list-style-type: none; }
